$primary: rgb(237, 149, 71);
$dark: #5c3d00;
$light: #f2e8d0;

$theme-colors: (
    "primary": rgb(237, 149, 71),
    "light": #f2e8d0,
    "dark": #5c3d00
);

$body-color: $dark;
$body-bg: $light;

$input-bg: #faf5eb;

$headings-font-weight: 600;

$min-contrast-ratio: 3;

// Buttons
$btn-border-radius: 10px;


// Badges
$badge-font-size: 1em;

@import "~bootstrap/scss/bootstrap";