$primary: rgb(237, 149, 71);
$secondary: #cec1a5;
$dark: #684808;
$medium: #754f02;
$light: #f2e8d0;
$white: #fff;

$theme-colors: (
    "primary": $primary,
    "light": $light,
    "dark": $dark
);

$body-color: $dark;
$body-bg: $light;

$input-bg: #faf5eb;

$headings-font-weight: 600;

$min-contrast-ratio: 3;

// Accordions
$accordion-color: $medium;
$accordion-bg: $light;
$accordion-button-bg: $secondary;

$accordion-button-active-bg: $primary;
$accordion-button-active-color: $light;

// Buttons
$btn-border-radius: 10px;

// Badges
$badge-font-size: 1em;

@import "~bootstrap/scss/bootstrap";