
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;700&display=swap');

body {
    font-family: 'Hind', sans-serif;
}

/*
.navbar {
    height: 60px;
    padding: 20px;
    display: inline;
    text-align: center;
    background: #f2e8d0; /*f5f5f5;
}

.navbar h2 {
    margin: 0;
}

.navbar-brand {
    font-size: 28px;
    color: #543400;
    font-weight: bold;
}

.navbar-logo {
    height: 32px;
    width:  32px;
    float:  left;
}
*/
.btn-brew {
    background-color: rgb(237, 149, 71);
    color:  white;
    margin-left: 8px;
    border-radius: 8px;
}

.btn {
    border-radius: 8px;
}