// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;700&display=swap');

$primary: #ed9547;
$secondary: #cec1a5;
$dark: #684808;
$medium: #754f02;
$light: #f2e8d0;
$white: #fff;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
    "dark": $dark
);

$body-color: $dark;
$body-bg: $light;

// Input Controls
$input-bg: #faf5eb;
$input-border-radius: 20px;

$headings-font-weight: 600;

$min-contrast-ratio: 3;

// Accordions
$accordion-color: $medium;
$accordion-bg: $light;
$accordion-button-bg: $secondary;

$accordion-button-active-bg: $primary;
$accordion-button-active-color: $light;

// Buttons
$btn-border-radius: 12px;

// Badges
$badge-font-size: 1em;

// Fonts
$font-family-sans-serif: 'Hind' !default;

@import "~bootstrap/scss/bootstrap";

// Extra CSS
a.navbar-brand {
    font-size: 28px;
    font-weight: 600;
}

.badge {
    margin: 2px;
}

// For GitHub button link in footer
.btn-outline-primary:hover {
  svg path {
    fill: #684808;
  }
}

/*
    Animations
*/

.vibrate {
	-webkit-animation: vibrate 0.3s linear infinite both;
	        animation: vibrate 0.3s linear infinite both;
}

 @-webkit-keyframes vibrate {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

/*
    GitHub Corner  
*/

.github-corner svg {
  fill:#ed9547; color:#fff; position: absolute; top: 0; border: 0; right: 0;
}

.github-corner:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave{
  0%,100% {
    transform:rotate(0)
  }
  20%,60% {
    transform:rotate(-25deg)
  }
  40%,80% {
    transform:rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation:none
  }
  .github-corner .octo-arm {
    animation:octocat-wave 560ms ease-in-out
  }
}
